version: "3.9"

services:
  # backend:
  #   build: .
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - db
  db:
    image: postgres
    ports:
      - "5400:5432"
    env_file:
      - .env.db.local
    volumes:
      - ./postgres-data:/var/lib/postgresql/18/main
  cache:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
  db_visualizer:
    image: dpage/pgadmin4
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db
volumes:
  postgres-data:
